<div class="container">
  <h1>Edit Autor</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateAutor(autor._id)" #autorForm="ngForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="autor.nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="name">Biografia</label>
          <input type="text" class="form-control" [(ngModel)]="autor.biografia" name="biografia" required>
        </div>
        <div class="form-group">
          <label for="name">Fecha_de_nacimiento</label>
          <input type="text" class="form-control" [(ngModel)]="autor.fecha_de_nacimiento" name="fecha_de_nacimiento" required>
        </div>
        <div class="form-group">
          <label for="name">nacionalidad</label>
          <input type="text" class="form-control" [(ngModel)]="autor.nacionalidad" name="nacionalidad" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!autorForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
